<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
		<title>Rasberry Site</title>
		<meta charset="utf-8">
	</head>
	<body>
        <h1>{{.Title}}</h1>
        {{range .Words}}
        <div>{{.Word}}</div>
        {{end}}
	</body>
</html>
